@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    align-items: center;
    background-color: rgb(190,49,68);
    position: fixed;
}

.nav-link{
    font-family: sans-serif;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    padding: 2.5%;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}

.projects-title{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#subtitle{
    color:rgb(190,49,68);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5px;
}
#projects{
    display: flex;
   justify-content: center;
}
.project{
    width: 23vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}
.project-img{
    width: inherit;
}
footer{
    display: flex;
    flex-direction: column;
}
